{% extends "communitymgr/community_base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% block styles %}
    <link href="{% static 'communitymgr/login.css' %}" rel="stylesheet" />
{% endblock %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      {% if next %}
        <h2>Debe autenticarse para ver esta página</h2>
      {% endif %}
     <!-- Login Form -->
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Guardar Cambios</button>
        </div>
      </form>
    </div>
</div>
{% endblock content %}